table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.header{
	text-align: center;
	font-weight: bold;
}
tr:nth-child(even) {
	text-align: center;
  background-color: #dddddd;
}
.centerModal {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  max-width: 1024px !important;
  transform: translate(-50%, -50%) !important;
}